:root {
    --lion: hsla(31, 27%, 60%, 1);
    --rich-black: hsla(223, 61%, 8%, 1);
    --davys-gray: hsla(240, 4%, 36%, 1);
    --black: hsla(240, 100%, 0%, 1);
    --prussian-blue: hsla(211, 53%, 20%, 1);
    --butterscotch: hsla(34, 55%, 55%, 1);
    --gunmetal: hsla(218, 24%, 21%, 1);
}

body {
    background-color: var(--black);
    color: var(--grey);
    font-family: 'Space Grotesk';
}

nav {
    position: fixed;
    top: 0;
    left: 25%;
    height: 6vh;
    width: 50vw;
    background-color: var(--white);
    border-radius: 10px 10px 50px 50px;
    margin: auto;
    color: var(--white);
    transition: all 400ms ease-in-out;
    background: hsl( 0 0% 100% / .1);
    backdrop-filter: blur(1rem);
}

.minimized {
    transform: translateY(-65%);
}

.minimized:hover {
    transform: translateY(0);
}

ul {
    display: flex;
    justify-content: space-around;
    padding-top: 0.6em;
}

li {
    transition: all 500ms ease-in-out;
}

li:hover {
    font-weight: 900;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: underline;
}

#welcome-section {
    height: 100vh;
    background-color: var(--black);
    background-image: url('../images/earth.jpg');
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 4rem;
    color: var(--white);
    font-family: 'Space Grotesk';
    font-weight: 400;
    text-shadow: black 0px 0px 10px;
}

#work-section {
    height: 100vh;
    background-color: var(--black);
    border-top: 2px solid var(--grey);
}

