:root {
    --blue: #14213D;
    --yellow: #FCA311;
    --grey: #E5E5E5;
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    background: linear-gradient(45deg, #E5E5E5, #FCA311);
    background-size: 300% 300%;
    animation: color 10s ease-in-out infinite;
}

body {
    overflow: auto; /* Ensures scrolling behavior, if needed */
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }

}

.section-box {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
    background-color: white;
    border-radius: 30px;
    margin: auto;
}

.main-box {
    height: 70vh;
    width: 88vw;
    margin-top:15vh;
}

.projects {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120%;
}

h1 {
    font-family: Roboto;
    font-weight: 600;
    font-style: normal;
    color: var(--blue);
    margin-bottom: 3%;
}

.grid-box {
    height: 50%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5%;
}

.box {
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 2px 15px 15px rgba(0, 0, 0, 0.3);
    
}

.box:hover {
    background-color: var(--blue);
    cursor: pointer;
    transition: all 0.5s;
    scale: 1.05;
}

